[project]
	description = Handy extensions to the Google Maps Android API.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ronald comaling (jackass0528)
[access "refs/for/refs/*"]
	read = group user/Ronald comaling (jackass0528)
	push = group user/Ronald comaling (jackass0528)
	label-Code-Review = -2..+2 group user/Ronald comaling (jackass0528)
	label-Verified = -1..+1 group user/Ronald comaling (jackass0528)
	rebase = group user/Ronald comaling (jackass0528)
	removeReviewer = group user/Ronald comaling (jackass0528)
	submit = group user/Ronald comaling (jackass0528)
[access "refs/heads/*"]
	read = group user/Ronald comaling (jackass0528)
	create = group user/Ronald comaling (jackass0528)
	push = +force group user/Ronald comaling (jackass0528)
	pushMerge = group user/Ronald comaling (jackass0528)
[access "refs/tags/*"]
	push = group user/Ronald comaling (jackass0528)
	push = +force group user/Ronald comaling (jackass0528)
